<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
</head>
<body>
  <div id="app">
    <h1 v-bind:title="message">{{ inputDate }}</h1>
    <form @submit.prevent="addDate">
      <input placeholder="New Date" v-model="newDate" type="date" />
      <!-- <input type="text" placeholder="Score" v-model="phoneScore"> -->
      <input type="submit" value="addDate">
    </form>
    <ul>
      <date-li
        v-for="(date, index) in sortDateList"
        v-bind:date="date"
        v-bind:key="index">
      </date-li>
    </ul>
    <p>the most recent date is: {{ recentDate }} </p>
    <p>the actual date is: {{ actualDate }} </p>
    <!-- <button v-on:click='addPhone'>Add Phone</button> -->
    <!-- <button @click='removePhone'>Remove Phone</button> -->
    <!-- <ol>
      <todo-item v-for="(item, index) in carList"
      v-bind:todo="item"
      v-bind:key="index" ></todo-item>
    </ol> -->
    <!-- <ul>
      <phone-li
        v-for='phone in searchPhone'
        v-bind:phone='phone'
        v-bind:key='phone.id'>
      </phone-li>
    </ul>
    <input type="range" min="0" max="10" v-model="min">
    <p>Minimun Score: </p><label>{{ min }}</label>
    <br>
    <input type="search" v-model="search" placeholder="Find Phone" /> -->
   <!--  <ul>
      <todo-item
        v-for='item in goals'
        v-bind:todo='item'
        v-bind:key='item.id'>
      </todo-item>
    </ul>
     -->
    <!-- validating emails with js -->
    <!-- <legend id="result"></legend>
    <form id="form">
      <input type="email" id="email"/>
      <input type="button" value="try it!"/>
    </form> -->
  </div> 
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
  <script src="../js/moment.js"></script>
  <script src="../js/main.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    function validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
    function validate() {
      $("#result").text("");
      var email = $("#email").val();
      var emails = email.split(',');
      for (let i = 0; i < emails.length; i++) {
        if (emails[i].substr(0,1) == " ") {
          // console.log(emails[i].substr(1));
          emails[i] = emails[i].substr(1);
        }
        
      }
      // console.log(emails);
      var valid = true;
      var wrong_email = '';
      for (let j = 0; j < emails.length; j++) {
        if (!validateEmail(emails[j])) {
          valid = false;
          wrong_email = emails[j];
          break;
        } else {
          valid = true;
        }
      }
      if (valid) {
        $("#result").text("All emails are valid :)");
        $("#result").css("color", "green");

      }else{
        $("#result").text("The email (" + wrong_email + ") is not valid :(");
        $("#result").css("color", "red");
      }
      return valid;

    } 
    
    // $('input[value="try it!"]').on('click', validate);
    $('input[value="try it!"]').on('click', function () { 
      if (validate()) {
        $('#form').submit();
      } else {
        console.log('do nothing');
      }
     });
  </script> -->
</body>
</html>
